.lmp-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lmp-cursor-pointer {
  cursor: pointer;
}
.lmp-dn {
  display: none;
}

.lmp-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lmp-header {
  display: flex;
  align-items: center;
}

.lmp-body {
  flex: 1;
}

.lmp-header,
.lmp-footer {
  height: 70px;
  background-color: #242424;
  flex-shrink: 0;
}

.lmp-header-search {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 2px;
  width: 140px;
  height: 30px;
  margin-left: 30px;
  background-color: #fff;
}

.lmp-search-input {
  width: 110px;
  height: 26px;
  border: 0;
  padding: 2px;
}

.lmp-search-icon {
  line-height: 30px;
}

.lmp-body {
  display: flex;
}

.lmp-body-left {
  overflow: hidden;
  width: 200px;
  background-color: #ededed;
  height: 100%;
}

.lmp-meun-item {
  line-height: 60px;
  padding-left: 30px;
  cursor: pointer;
}

.lmp-meun-active,
.lmp-meun-item:hover {
  background-color: #e4e4e4;
}

.lmp-body-right {
  position: relative;
  flex: 1;
  padding: 30px;
  background-color: #fff;
}

.lmp-sheet-header {
  margin-top: 10px;
}
.lmp-sheet-body {
  position: absolute;
  left: 30px;
  top: 115px;
  right: 30px;
  bottom: 30px;
  overflow: auto;
}

.lmp-singer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.lmp-song-header,
.lmp-sheet-header {
  display: flex;
  font-weight: bolder;
}

.lmp-song-row,
.lmp-sheet-row {
  display: flex;
  align-items: center;
  height: 70px;
}

.lmp-song-name,
.lmp-song-singer,
.lmp-sheet-name {
  width: 300px;
  padding-right: 10px;
}
.lmp-song-operate,
.lmp-sheet-operate {
  display: flex;
  gap: 20px;
}
.lmp-sheet-drag:hover,
.lmp-sheet-dele:hover,
.lmp-sheet-add:hover,
.lmp-sheet-desc:hover,
.lmp-operate-play:hover,
.lmp-operate-drag:hover,
.lmp-operate-add:hover,
.lmp-singer-name:hover,
.lmp-song-span:hover,
.lmp-song-num:hover,
.lmp-song-next:hover,
.lmp-song-pre:hover {
  color: blue;
}

.lmp-song-odd,
.lmp-sheet-odd {
  background-color: #e4e4e4;
}

.lmp-song-footer {
  display: flex;
  gap: 0 20px;
}

.lmp-song-page {
  display: flex;
  gap: 0 10px;
}

.lmp-song-num {
  width: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
}

.lmp-song-tbody {
  margin: 10px 0 20px 0;
}

.lmp-footer {
  color: #fff;
  gap: 30px;
}

.lmp-player-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.lmp-player-pre,
.lmp-player-play,
.lmp-player-next,
.lmp-player-model,
.lmp-player-list,
.lmp-player-add {
  opacity: 0.7;
}
.lmp-player-pre:hover,
.lmp-player-play:hover,
.lmp-player-next:hover,
.lmp-player-model:hover,
.lmp-player-list:hover,
.lmp-player-add:hover {
  opacity: 1;
}

.lmp-player-msg {
  width: 600px;
}
.lmp-player-song {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lmp-player-progress {
  flex: 1;
  margin-right: 20px;
}
.lmp-player-operate {
  gap: 20px;
}
.lmp-player-pop {
  position: relative;
  width: 1px;
  height: 28px;
  color: #24292e;
}
.lmp-pop-list {
  overflow-y: auto;
  position: absolute;
  top: -740px;
  left: -420px;
  z-index: 100;
  width: 800px;
  height: 700px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lmp-player-triangle {
  position: absolute;
  top: -40px;
  left: -40px;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #242424;
}