.lmp-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lmp-cursor-pointer {
  cursor: pointer;
}
.lmp-dn {
  display: none;
}
.lmp-mb10 {
  margin-bottom: 10px;
}

.lmp-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lmp-header {
  display: flex;
  align-items: center;
}

.lmp-body {
  flex: 1;
}

.lmp-header,
.lmp-footer {
  height: 70px;
  background-color: #242424;
  flex-shrink: 0;
}

.lmp-header-search {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 20px;
}

.lmp-search-input {
  width: 120px;
    height: 28px;
  padding: 2px;
  border-radius: 2px;
    border: 1px solid #242424;
}

.lmp-search-icon,
.lmp-search-reset {
  margin-left: 10px;
  font-size: 20px;
}

.lmp-body {
  display: flex;
}

.lmp-body-left {
  overflow: hidden;
  width: 200px;
  background-color: #ededed;
  height: 100%;
}

.lmp-menu-item {
  line-height: 60px;
  padding-left: 30px;
  cursor: pointer;
}

.lmp-menu-active,
.lmp-menu-item:hover {
  background-color: #e4e4e4;
}

.lmp-body-right {
  position: relative;
  flex: 1;
  padding: 30px;
  background-color: #fff;
}

.lmp-sheet-header {
  margin-top: 10px;
}
.lmp-sheet-body {
  position: absolute;
  left: 30px;
  top: 115px;
  right: 30px;
  bottom: 30px;
  overflow: auto;
}
.lmp-sheet-default {
  opacity: 0;
  pointer-events: none;
}
.lmp-sheet-detail,
.lmp-detail-name {
  margin-bottom: 10px;
}

.lmp-singer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.lmp-song {
  height: 100%;
}
.lmp-song-header,
.lmp-sheet-header {
  display: flex;
  font-weight: bolder;
}

.lmp-song-row,
.lmp-sheet-row {
  display: flex;
  align-items: center;
  height: 70px;
}
.lmp-song-status {
  width: 40px;
  text-align: center;
}
.lmp-song-name,
.lmp-sheet-name {
  width: 300px;
  padding-right: 10px;
}
.lmp-song-singer {
  width: 250px;
  padding-right: 10px;
}
.lmp-song-operate,
.lmp-sheet-operate {
  display: flex;
  gap: 20px;
}
.lmp-sheet-drag:hover,
.lmp-sheet-dele:hover,
.lmp-sheet-edit:hover,
.lmp-sheet-add:hover,
.lmp-sheet-desc:hover,
.lmp-operate-play:hover,
.lmp-operate-drag:hover,
.lmp-operate-add:hover,
.lmp-operate-dele:hover,
.lmp-singer-name:hover,
.lmp-song-span:hover,
.lmp-song-num:hover,
.lmp-song-next:hover,
.lmp-list-clear:hover,
.lmp-song-pre:hover {
  color: blue;
}

.lmp-song-odd,
.lmp-sheet-odd {
  background-color: #e4e4e4;
}

.lmp-song-footer {
  display: flex;
  gap: 0 20px;
}

.lmp-song-page {
  display: flex;
  gap: 0 10px;
}

.lmp-song-num {
  width: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

.lmp-song-list {
  height: calc(100% - 50px);
}
.lmp-song-num.active {
  background-color: #000;
  color: #fff;
  cursor: not-allowed;
}
.lmp-song-tbody {
  margin: 10px 0 20px 0;
}
.lmp-song-tbody.lmp-music-body {
  overflow-y: auto;
  margin-bottom: 0;
  height: calc(100% - 60px);
}
.lmp-footer {
  color: #fff;
  gap: 30px;
}

.lmp-player-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.lmp-player-pre,
.lmp-player-play,
.lmp-player-next,
.lmp-player-model,
.lmp-player-list,
.lmp-player-add {
  opacity: 0.7;
}
.lmp-player-pre:hover,
.lmp-player-play:hover,
.lmp-player-next:hover,
.lmp-player-model:hover,
.lmp-player-list:hover,
.lmp-player-add:hover {
  opacity: 1;
}

.lmp-player-msg {
  width: 600px;
}
.lmp-player-song {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lmp-player-progress {
  position: relative;
  flex: 1;
  height: 12px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 6px;
}

.lmp-player-preload {
  height: 100%;
  width: 0;
  background-color: #e4e4e4;
  border-radius: 6px;
}
.lmp-player-playing {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 6px;
  background-color: #e0420d;
}
.lmp-player-operate {
  gap: 20px;
}
.lmp-player-pop {
  position: relative;
  width: 1px;
  height: 28px;
  color: #24292e;
}
.lmp-pop-list {
  overflow-y: auto;
  position: absolute;
  top: -640px;
  /* left: -420px; */
  left: -820px;
  z-index: 100;
  width: 800px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lmp-player-triangle {
  position: absolute;
  top: -40px;
  left: -40px;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #242424;
}

.lmp-dia-btn {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-top: 20px;
}
.lmp-err-msg {
  color: red;
  padding-left: 70px;
}

.lmp-spin {
  position: absolute;
  left: 200px;
  top: 70px;
  bottom: 70px;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}

.lmp-info {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 900;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.lmp-dia-name {
  margin-bottom: 20px;
}

.lmp-pop-header {
  height: 70px;
}
.lmp-pop-count {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}